name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'adopt'

      - name: Gradle Cache
        uses: burrunan/gradle-cache-action@v1

      - name: Build with Gradle
        run: ./gradlew shadowJar

      - name: Copy jar file
        run: |
          mv build/libs/Vulkan-*.jar ../../
          export file=$(ls Vulkan-*.jar)
          export removedAll=$(echo ${file%-all*})
          mv ${file} ${removedAll}.jar

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          name: Vulkan Server
          path: Vulkan-*.jar
